 .App{
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
 }

  h1{
    margin: 0;
    color: black;
  }

  .header{
    background-color: rgba(145, 145, 135, 0.437);
    padding: 8px;
  }

  .main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 14px;
  }

  .movie{
    background-color: blue;
    color: aquamarine;
     padding: 3px;
    border: 1px solid gray;
    font-weight: bold;
    text-align: start;
    width: 22%;
    margin-top: 14px;
  }

  .movie img{
    height: 220px;
    max-width: 100%;
  }